*{
	margin: 0px;
	padding: 0px 0px;
	border: 0px;
}
.cleaner
{
	clear: both;
}

html{
    scroll-behavior: smooth;
}
a
{
text-decoration: none;
color: #6edb7c;
font-family: 'Outfit', sans-serif;	
}

h1
{font-family:'Outfit', sans-serif; 
}
.active{
    color: #fff;
}
.zaglavlje, .zaglavlje2, .zaglavlje3, .zaglavlje4
{width: 100%;
height: 850px;
background-size: cover;
}

.zaglavlje4
{background-image: url("../slika/autor.jpg");
background-repeat: no-repeat;	
background-attachment: fixed;	
background-size: cover;
}
.zaglavlje3
{background-image: url("../slika/cover3.jpg");
background-repeat: no-repeat;		
}
.zaglavlje2
{background-image: url("../slika/cover2.jpg");
background-repeat: no-repeat;	
height: 750px;
background-attachment: fixed;
}
.zaglavlje
{background-image: url("../slika/cover1.jpg");
background-repeat: no-repeat;
background-attachment: fixed;

}

.transparentna-boja
{width: 100%;
height: inherit;
background-color: rgba(0, 0, 0, 0.6);
}

#naslov h1{
    margin: 0px auto; 
    width: 1000px;
    color: #fff;
    font-size: 45px;
    text-align: center;

}
#naslov{
    margin-top: -500px;
    animation-name: animacija1;
    animation-duration: 1s;
    position: relative;
}
@keyframes animacija1 {
    0%   {top:-200px;}
    100% {top:0px;}
  }



header
{width: 100%;
background-color: rgba(64, 59, 59, 0.9);
position: fixed;
padding-top: 10px;
height: 55px;
position: fixed;
top: 0px;
z-index: 1;
}

.sirina{
    width: 96%;
    margin: 0px auto;
}


#logo
{float: left;
width: 30%;
font-size: 30px;
font-family:'Outfit', sans-serif;
font-weight: 900;
animation-name: animacija2;
animation-duration: 1s;
position: relative;
}

@keyframes animacija2 {
    0%   {left:-250px;}
    100% {left:0px;}
  }

#logo a:hover{
    color: #fff;
}

#logo a{
    transition: 0.5s;
}
nav
{
float:right;
padding-top: 11px;
font-family: 'Outfit';
}

nav ul li 
{display: inline;
padding: 0px 8px;
font-size: 19px;
font-weight: 900;
}

#nista{
    padding-right: 0px;
}

nav ul li a{
    color: rgb(122, 189, 122);
    transition: 0.3s;
    cursor: pointer;
}

nav ul li a:hover{
    color: #fff;
}
 
#tekst
{
margin: -600px auto;
}

.početak, .početak2
{font-size:40px; 
color:#ffffff;
font-weight: bold;
text-align: center;
}
.početak2
{
margin-top: 100px;
font-size: 20px;
}


#dugme{
    width: 200px;
    margin: 0px auto;
    margin-top: 50px;
}

#dugme input{
    width: 200px;
    height: 45px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 17px;
    opacity: 0.4;
    transition: 0.3s;
    font-weight: 700;
}
#dugme input:hover{
    background-color: #6edb7c;
    color: #fff;
}
#onama{
    text-align: justify;
}
h3
{color:#6edb7c;
text-align: center;
}

h3:hover
{color:#f5f0f0;
}

#galerija h2, #kosmomi h2, .tim h2
{
margin-bottom: 30px;
color: rgba(36, 34, 34, 0.8);
font-size: 30px;
text-align: center;
}

#kosmomi
{
height: 300px;
background-color: rgba(255, 255, 255, 0.9);
margin-bottom: 100px;
width: 96%;
margin: 50px auto;
}

#kosmomi p
{color: #484e52;
font-size: 20px;
text-align: justify;

}

.pobeda
{font-size:  23px;
text-align: center;
margin-top: 15px;
transition: 0.4s;
}

#vasapobeda{
    width: 200px;
    margin: 0px auto;
}

.pobeda:hover{
    transform: scale(1.2);
}


#galerija
{width: 96%;
margin: 0px auto;
background-color: rgba(233, 227, 227, 0.9);
padding-top: 20px;
}

.gallery.sr{
margin-left: 2.5%;
margin-right: 2.5%;
transition: 1s;
}

.gallery:hover{
    transform: scale(1.2);
}

.gallery
{width: 31.6%;
height: 330px;
margin: 30px 0px;
transition: 1s;

float: left;
}

.gallery.prva{
    margin-left: 5%;
}

.slika{
    width: 100%;
    height: 100%;
}


section
{
width: 100%;
height: 730px;
background-color:  #f7f7f7;
}

.fokus h2
{color: #548a57;
font-size: 30px;
text-align: center;
}

.fokus
{
background-image: url("../slika/fokus4.jpg");
height: 830px;
width: 100%;
background-repeat: no-repeat;
background-size: cover;
padding-top: 20px;
margin-top: 30px;
}



.klasa1, .klasa2, .klasa3
{width: 25%;
height: 500px;
margin-top: 80px;
background-color: rgba(240, 227, 227, 0.9);
float: left;
padding-top: 40px;
border-radius: 30px;

}

.klasa3:hover{
    background-color: rgba(223, 209, 209, 0.9);
    transform: scale(1.05);
}
.klasa2:hover{
    background-color: rgba(223, 209, 209, 0.9);
    transform: scale(1.05);
}
.klasa1:hover{
    background-color: rgba(223, 209, 209, 0.9);
    transform: scale(1.05);
}

.klasa2
{
float: right;
transition: 0.5s;
}

.klasa1
{
transition: 0.5s;
}
.klasa3
{
    margin-left: 13.5%; 
    transition: 0.5s;
}
.ikona
{
    width: 100%;
    text-align: center;
    font-size: 60px;
    color: #6edb7c;
    
}

.content
{margin-top: 25px;
font-family:  Arial, Helvetica, sans-serif;
font-size: 18px;
color: rgb(126, 126, 126);
text-align: justify;
margin-left: 30px;
margin-right: 30px;
line-height: 1;
}
 .pregled
{line-height: 1;
text-align: center;
margin-bottom: 25px;
}

.kardio1, .grupni
{
margin-bottom: 45px;
}

.tim
{background-color: rgba(233, 227, 227, 0.9);
margin-top: 100px;
margin-bottom: 100px;
height: 800px;
padding-top: 20px;
}

.prvaslika, .drugaslika, .trecaslika
{width: 350px;
height: 350px;
border-radius: 50%;
margin: 0px auto;
}
.prvitrener, .drugitrener, .nutricionista
{
width: 30%;
float:left;
height: 500px;
}
.drugitrener{
    margin-left: 5%;
    margin-right: 5%;
}
.prvaslika
{background-image: url(../slika/magdalena.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.drugaslika
{background-image: url(../slika/pedjica.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.trecaslika
{background-image: url(../slika/milica.jpg);
background-repeat: no-repeat;
background-size: cover;
}

.opis 
{margin-top: 25px;
font-family:Arial, Helvetica, sans-serif;
font-size: 18px;
color: rgb(126, 126, 126);
text-align: justify;
line-height: 1.5;
}
/*futer*/
footer{
  width: 100%;
  position: relative;
  background: #403b3be6;
  margin-top: 50px;
}
footer .sirina{
  margin: 0px auto;
  padding: 20px;
  display: flex;

}
.sirina p{
    color:#6edb7c;
}
footer .sirina .deo{
  width: 30%;
  transition: all 0.4s ease;
}
footer .sirina .navigacija{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
footer .sirina p{
  text-align: justify;
  color: #d9d9d9;
  
}
footer .sirina .srednji{
  padding-left: 80px;
}
footer .sirina .srednji ul li{
  line-height: 32px;
  list-style-type: none;
  font-family:Arial, Helvetica, sans-serif;
}
footer .sirina .desni input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #e7e7e7;
  background: #403b3be6;
  border-radius: 5px;
  font-size: 17px;
  border: 2px solid #6edb7c;
}
footer .sirina .desni input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #6edb7c;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #6edb7c;
  transition: all 0.3s ease-in-out;
}
.sirina .desni input[type="submit"]:hover{
  background: none;
  color:  #6edb7c;
}
footer .sirina .ikone a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 20px 5px 0px 10px;
  transition: all 0.3s ease;
  
}
.sirina .ikone a:hover{
  border-color: #6edb7c;
}
footer .copyright{

  text-align: left;
  color: #d9d9d9;
  padding: 0 40px 5px 4px;
}
footer .copyright a{
  color: #6edb7c;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: #f7f7f7;
}

#zeleno{
  color: #6edb7c;
  font-size: 25px;
}

/*usluge*/

.beli
{
width: 100%;
height: 1500px;

}

.kolona{
  width: 100%;
  height: 500px;
}

.poz1{
  background-image: url("../slika/cover1.jpg");
  background-size: cover;
}

.poz2{
  background-image: url("../slika/ponuda2.jpg");
  background-size: cover;
}

.poz3{
  background-image: url("../slika/ponuda3.jpg");
  background-size: cover;
}


#pozadinausluge{
  background-image: url("../slika/cover3.jpg");
  height: 750px;
  background-repeat: no-repeat;	
  background-attachment: fixed;
  background-size: cover;
  padding-top: 100px;
}

.cena{
  width: 30%;
  height: 300px;
  background-color: rgb(54, 54, 53, 0.7);
  float: left;
  border-radius: 20px;
  transition: 0.3s;
}

.cena:hover{
  transform: scale(1.1);
}

.sred{
  margin-left: 5%;
  margin-right: 5%;
}

#cenovnik2{
  height: 400px;
  width: 100%;
 
}

#cenovnik{
  height: 350px;
}

.futerusluge{
  margin-top: 0px;
}
#lokacije
{
margin-top: 30px;
width: 100%;
height: 270px;
}
.lokacija1
{
float: left;
width: 31.6%;
height: 300px;
transition: 0.5s;
}

.lokacija1:hover{
  transform: scale(1.08);
}

.djurica
{
background-image: url("../slika/novibg.jpg") ;
}
.markovica
{
background-image: url("../slika/nbg.jpg") ;
margin: 0% 2.5%;
}
.novibg
{
background-image:url("../slika/svetozara.jpg")  ;
}
#form{
  width: 75%;
  height: 390px;
  margin: 80px auto;
  padding-top: 20px;
}
.form2{
  width: 90%;
  height: 60px;
  margin: 20px auto;
}
#naslovforma
{
color:#e6ebe7;
}
.info{
  width: 30%;
  background-color: rgb(158, 35, 35);
  height: 60px;
  float: left;
}

.info input,select{
  width: 100%;
  height: 100%;
  text-align: center;
  border: 3px solid rgb(49, 109, 49);
}

#naslovforma{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.prijava{
  
  margin-bottom: 50px;
  width: 100%;
  background-image: url("../slika/pozadina.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}

#biografija{
  width: 70%;
  height: 170px;
  margin: 50px auto;
  font-family: 'Courgette', cursive;
  text-align: center;
  padding-top: 100px;
  font-size: 20px;
}
.cena h1{
  color: rgb(122, 189, 122);
  text-align: center;
  margin-top: 10px;
  font-size: 45px;
}
.cena h2{
  color: rgb(221, 221, 107);
  text-align: center;
  margin-top: 10px;
  font-size: 45px;
}

.cena h3{
  text-align: center;
  margin-top: 10px;
  color: #fff;
  font-size: 24px;
  text-align: left;
  margin-left: 70px;
}

.cena h3 i{
  color: rgb(221, 221, 107);
}

.program{
  width: 50%;
  padding-left: 60px;
  padding-top: 70px;
  height: 100%;
}



.program{
  background-image: linear-gradient(to right, rgba(45, 96, 173, 0.95) 80%, rgba(0, 0, 0, 0));
  height: 100%;
}

.program2{
  width: 70%;
}
.program2 h1{
  margin-bottom: 30px;
  font-size: 50px;
  color: #fff;
}

.program2 h2{
  margin-bottom: 30px;
  font-size: 25px;
  color: rgb(7, 7, 7);
}

.program2 input{
  width: 150px;
  height: 50px;
  background-color: rgba(45, 96, 173, 0.95);
  border-radius: 25px;
  border: 2px solid #fff;
  transition: 0.3s;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.program2 input:hover{
  background-color: #fff;
  color: rgba(45, 96, 173, 0.95);
}





.programa{
  width: 50%;
  padding-left: 60px;
  height: 100%;
  float: right;
}
.programa{
  background-image: linear-gradient(to left, rgba(148, 73, 135, 0.95) 80%, rgba(0, 0, 0, 0));
  height: 100%;
}

.program2a{
  width: 70%;
  float: right;
  text-align: right;
  padding-right: 50px;
}

.program2a h1{
  margin-bottom: 30px;
  font-size: 50px;
  color: #fff;
  margin-top: 60px;
}

.program2a h2{
  margin-bottom: 30px;
  font-size: 27px;
  color: rgb(7, 7, 7);
}

.program2a a input{
  width: 150px;
  height: 50px;
  background-color: rgba(148, 73, 135, 0.95);
  border-radius: 25px;
  border: 2px solid #fff;
  transition: 0.3s;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.program2a input{
  width: 150px;
  height: 50px;
  background-color: rgba(89, 118, 160, 0.95);
  border-radius: 25px;
  border: 2px solid #fff;
  transition: 0.3s;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.program2a input:hover{
  background-color: #fff;
  color: rgba(148, 73, 135, 0.95);
}






.programb{
  width: 50%;
  padding-left: 60px;
  height: 100%;
}
.programb{
  background-image: linear-gradient(to right, rgba(173, 103, 45, 0.95) 80%, rgba(0, 0, 0, 0));
  height: 100%;
}

.program2b{
  width: 70%;
  text-align: left;
  padding-right: 50px;
}

.program2b h1{
  margin-bottom: 30px;
  font-size: 50px;
  color: #fff;
  padding-top: 70px;
}

.program2b h2{
  margin-bottom: 30px;
  font-size: 28px;
  color: rgb(7, 7, 7);
}

.program2b a input{
  width: 150px;
  height: 50px;
  background-color: rgba(173, 103, 45, 0.95);
  border-radius: 25px;
  border: 2px solid #fff;
  transition: 0.3s;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.program2b input{
  width: 150px;
  height: 50px;
  background-color: rgba(89, 118, 160, 0.95);
  border-radius: 25px;
  border: 2px solid #fff;
  transition: 0.3s;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.program2b input:hover{
  background-color: #fff;
  color: rgba(173, 103, 45, 0.95);
}


.telefon{
  margin: 10px 0px;
}
